<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>Book a meeting</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
  </head>

  <body>
    <div id="app"></div>
    <script src='/js/lib/jquery.min.js'></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/tether.min.js"></script>
    <script src='/js/lib/bootstrap.min.js'></script>
    <script src='/js/lib/bootstrap-multiselect.js'></script>
    <link rel='stylesheet' href='/css/bootstrap-multiselect.css'>
    <script src="/js/lib/bootstrap-datetimepicker.min.js"></script>
    <script src='/static/bundle.js'></script>
  </body>
</html>
