<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>Book a meeting</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.min.css' />
    <link rel='stylesheet' href='/css/style.css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
    
    
  </head>

  <body>
    <div id="app"></div>
    <script src='/js/lib/jquery.min.js'></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/tether.min.js"></script>
    <script src='/js/lib/bootstrap.min.js'></script>
    <script src='/js/lib/bootstrap-multiselect.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
    <link rel="stylesheet" href="/css/calendar.min.css" />
    <link rel='stylesheet' href='/css/bootstrap-multiselect.css'>
    <!--<script src="/js/lib/bootstrap-datetimepicker.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>
    <script src='/static/bundle.js'></script>
  </body>
</html>
