@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
}

body {
	font-family: "Open Sans","Lucida Grande", Helvetica, Arial, sans-serif !important;
}

.ui.inverted.menu .indigo.active.item, .ui.inverted.indigo.menu {
	background-color: #3F51B5;
}

.ui.primary.indigo.button, .ui.primary.indigo.buttons .button {
	background-color: #3F51B5;
}

.ui.primary.indigo.button:hover, .ui.primary.indigo.buttons .button:hover {
	background-color: #303F9F;
}

.ui.basic.primary.indigo.button, .ui.basic.primary.indigo.buttons .button {
	color: #3F51B5 !important;
	box-shadow: 0 0 0 1px #3F51B5 inset!important;
}

.ui.basic.primary.indigo.button:hover, .ui.basic.primary.indigo.buttons .button:hover,
.ui.basic.primary.indigo.button:focus, .ui.basic.primary.indigo.buttons .button:focus {
	color: #303F9F !important;
	box-shadow: 0 0 0 1px #303F9F inset!important;
}

.ui.form input:not([type]):focus, .ui.form input[type=text]:focus, .ui.form input[type=email]:focus, .ui.form input[type=search]:focus, .ui.form input[type=password]:focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=time]:focus, .ui.form input[type=file]:focus, .ui.form input[type=url]:focus, .ui.form input[type=number]:focus {
	border-color: #7986CB !important;
}

.ui.selection.active.dropdown:hover, .ui.selection.active.dropdown:hover .menu {
	border-color: #7986CB !important;
}

.ui.form textarea:focus {
	border-color: #7986CB !important;
}